In [1]:
## 1. Load the data
import pandas as pd

# NOAA 1-minute K-index JSON feed (you could cache locally)
URL = "https://services.swpc.noaa.gov/json/planetary_k_index_1m.json"

# Load into a DataFrame
df = pd.read_json(URL)

# Quick peek
print(df.shape)
df.head()

(358, 4)

              time_tag  kp_index  estimated_kp  kp
0  2025-06-10T15:25:00         0           0.0  0Z
1  2025-06-10T15:26:00         0           0.0  0Z
2  2025-06-10T15:27:00         0           0.0  0Z
3  2025-06-10T15:28:00         0           0.0  0Z
4  2025-06-10T15:29:00         0           0.0  0Z